<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="wb_aichatbot" frontName="wb_aichatbot">
            <module name="WB_AiChatbot"/>
        </route>
    </router>
</config>
